.homeSection {
    height: 100vh;
}

.backgroundImgLeft {
    width: calc(var(--index) * 10);
}

.logo {
    width: calc(var(--index) * 30);
    position: absolute;
    left: 10vw;
    top: 30vh;
}

.backgroundImgRight {
    width: calc(var(--index) * 15);
    position: absolute;
    right: 0;
    bottom: 0;
}

.buttons {
    position: absolute;
    left: 15vw;
    top: 60vh;
    display: flex;
    gap: 20px;
}

@media (max-width: 630px) {
    .buttons {
        /*position: static;*/
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}