.addSection {
    background: url("../../assets/background.png") repeat center / cover;
    padding-bottom: 30px;
    min-height: 100vh;
}

.addSection__header {
    grid-column: auto;
}


.addSection__title {
    padding-top: 95px;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 12px;
}


.addSection__description {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px;
}
