.addSection__scheduleCards {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, calc(var(--index) * 10)));
    gap: var(--grid-gap);
}